  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
</style>

:root{
    --primary-color:green;
    --secondary-color:yellow;
    --background-color:blue;
}

*{
    box-sizing: border-box;
    margin:opx;
    padding:opx;
    font-family: "poppins";
    font-size: 16px;
    background-color: var (--background);
}

.nav-bar{
    display:flex;
    justify-content: space-between;
    margin: opx 40px;
    align-items: centre;
}

.logo-container{
    display: flex;
    justify-content: flex-start;
    align-items: centre;
}

#logo{
    Width:70px
    height:70px
    margin-right:20px
}

.nav-bar > ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.nav-bar > ul .li{
    margin: opx 20px;
    front-weight: 400px;
    front-size: 16px;
}   

#index{
    border-bottom: 2px solid green
}
   

